:root {
    --background-color: #ffffff;
    --text-color: #212121;
    --under-text-color: #757575;
    --animation-links: #2196F3;
    --animation-bottons: #2196F3;
    --buttons-background: #F5F4FA;
}
body{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: var(--text-color);
 }
 a {text-decoration: none;}
 ul{list-style: none;}
 /* HEADER */
 .web, .studio{
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19; 
    color: var(--text-color);
}
 .web{
     color: #2196F3;
 }
 .menu-element{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color:inherit;
 }
 .menu-element:focus, .menu-element:hover {
     color:var(--animation-links);

 }
 .menu-element-active{
     color: var(--animation-links);
 }
 .header-contact{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--under-text-color);}
.header-contact:focus, .header-contact:hover {
        color:var(--animation-links);

}
 /* FOOTER */
.footer{
    background-color: #2F303A;
}
 .studio-footer{
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    color: #FFFFFF;
    
 }
.address{
    font-style: normal; /*destroed italic */
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
}
.info{
    font-style: normal; /*destroed italic */
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);;
}
.info:focus, .info:hover{
    color:var(--animation-links);
}

 /* INDEX-MAIN */
 /* hero-section */
 .shadow-title{
     color: #FFFFFF;
 }
 .hero{
     background-color: #2F303A;
     color: #FFFFFF;
 }
 .hero-text{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}
 .hero-button{
    font-family: inherit;
     background-color: #2196F3;
     color: #ffffff;
     rgba(0, 0, 0, 0.15);
     font-weight: bold;
     font-size: 16px;
     line-height: 1.87;
     cursor:pointer;
}
/* section-one */
.title-first{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
}
.text-first{
    font-size: 14px;
    line-height: 1.71;
    color: var(--under-text-color);
}
/* section-two */
.second-title{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
}
/* section-three */
.title-three{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
}
.title-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}
.name-info{
    font-size: 16px;
    line-height: 1.18;
    color: var(--under-text-color);
}
/* PORTFOLIO-MAIN */
/* buttons */
.portfolio-menu-item{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background-color: var(--buttons-background);
    cursor:pointer;
}
.active {
    background-color: var(--animation-bottons);
}
.portfolio-menu-item:hover,
.portfolio-menu-item:focus{
    background-color: var(--animation-bottons);
    color: #FFFFFF;
}
/* portfolio */
.portfolio-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    color: var(--text-color);
    
}
.portfolio-text{
    font-size: 16px;
    line-height: 1.87;
    color: var(--under-text-color);
}













